#root {
  text-align: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  width: 100%;
  max-width: calc(100% - 440px);
  height: 100%;
}

.content_container {
  margin-top: 100px;
}

.image_canvas {
  width: 300px;
  height: 300px;
  border: 1px solid #575555;
  position: relative;
  user-select: none;
  flex: 1;
  margin-bottom: 15px;
}
.clip_path_pointer {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 200, 0, 1);
  position: absolute;
  cursor: grab;
  z-index: 20;
  transform-origin: center;
}

.preset_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 8px;
  border: 1px solid #242424;
  cursor: pointer;
  transition: all 0.3s ease;
}
.preset_button:hover {
  box-shadow: 0px 10px 10px #242424;
  transform: translateY(-3px);
}

.preset_button.active {
  background-color: black;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
}

.preset_button.active .preset_button_icon {
  background-color: #f1f1f1;
}
.preset_button_icon {
  width: 30px;
  height: 30px;
  background-color: black;
}

.preset_button_title {
  font-size: 10px;
}
.preset_bar {
  width: 400px;
  /* height: 100vh; */
  bottom: 0;
  padding: 20px;
  background-color: #f1f1f1;
  z-index: 10;
  position: fixed;
  right: 0;
  top: 0;
}

.preset_button_container {
  background-color: rgba(0, 0, 0, 0.1);
  display: grid;
  border-radius: 8px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  row-gap: 10px;
}

.indicator {
  transition: all 0.3s ease;
}
.indicator:hover {
  stroke: red;

  cursor: pointer;
}

.error_message_container {
  width: 300px;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.3);
  height: 20px;

  padding-block: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.error_message {
  font-size: 12px;
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.code_block {
  background-color: #242424;
  border-radius: 8px;
  width: 100%;
  position: relative;
  max-width: 100%;
  padding: 20px;
}

.code_text {
  margin-left: 10px;
  color: #4ade80;
  font-weight: bold;
  text-align: left;
  z-index: 5;
}

.toast_container {
  display: flex;
  padding: 10px;
  background-color: #242424;
  align-items: center;
  border-radius: 8px;
  position: absolute;
  top: 5%;
  left: 27.5%;
  color: #f1f1f1;
  column-gap: 0.5rem;
  box-shadow: 0px 12px 20px #24242480;
  transition: all 0.3s ease;
  width: 300px;
}

.toast_container.close {
  opacity: 0%;
  transform: translateY(10px) scaleX(0.9);
}

.toast_container.open {
  opacity: 100%;
  transform: translateY(-10px) scaleX(1);
}

.toast_text_container {
  flex: 1;
}

.toast_icon_container {
  display: flex;
}

.toast_close_button_container {
  display: flex;
}

.toast_close_button {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clip_path_code_container {
  max-width: 1000px;
}

.clip_board_copy_btn {
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  border-radius: 8px;
  background-color: #575555;
  position: absolute;
  right: 5%;
  top: 20%;
  align-items: center;
  justify-content: center;
}
